/* ********************* */
/* utilities */
/* ********************* */

/* ********************* */
/* navigation */
/* ********************* */
header {
    display: none;
}

.h-menu img {
    background-color: black;
    border-radius: 5px;
    display: block;
    padding: 0.5rem;
    width: 4rem;
    height: 4rem;
    margin-right: -5rem;
    position: fixed;
}

.mobile-nav {
    position: fixed;
}


/* ******************* */
/* hero */
/* ******************* */

/* *********************** */
/* message */
/* *********************** */

/* ***************************** */
/* activities section */
/* ***************************** */

/* ***************************** */
/* about us section */
/* ***************************** */

/* ***************************** */
/* patient first section */
/* ***************************** */

/* ***************************** */
/* reviews section */
/* ***************************** */

/* ***************************** */
/* cta section */
/* ***************************** */

/* ***************************** */
/* more info section */
/* ***************************** */

/* ***************************** */
/* footer section */
/* ***************************** */
