body {
    background-color: red;
}

/* ********************* */
/* navigation */
/* ********************* */

/* ******************* */
/* hero */
/* ******************* */

/* *********************** */
/* message */
/* *********************** */

/* ***************************** */
/* activities section */
/* ***************************** */

/* ***************************** */
/* about us section */
/* ***************************** */

/* ***************************** */
/* patient first section */
/* ***************************** */

/* ***************************** */
/* reviews section */
/* ***************************** */

/* ***************************** */
/* cta section */
/* ***************************** */
#cta .article-container article {
    margin: 0.5rem auto;
    margin: 0.5rem 1rem;
}

/* ***************************** */
/* more info section */
/* ***************************** */

/* ***************************** */
/* footer section */
/* ***************************** */