:root {
    --font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    --bg-color: #FFFFFF;
    --gray-text: #979797;
    --red-text: #CF7762;
}

/* ********************** */
/* utilities */
/* ********************** */
.current {
    border-bottom: 1px solid black;
}

.logo {
    height: 28px; 
    width: 28px;
}

/* ********************* */
/* general */
/* ********************* */
body {
    background-color: #eee;
}

main {
    font-family: var(--font-family);
}

/* ********************* */
/* navigation */
/* ********************* */
header {
    display: flex;
    justify-content: space-between;
    margin: 2rem auto;
    width: 80%;
}

header h1 {
    font-size: 32px;
    font-weight: 600;
}
header h1 .reverse-text {
    color: #CF7762;
    display: Inline-block;
    --moz-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -webkit-transform: (-1, 1);
    transform: scale(-1, 1);
    margin: 0;
    padding: 0;
}

header nav {
    list-style: none;
}

header nav a {
    color: #000;
    cursor: pointer;
    font-size: 1.1rem;
    margin: 1rem 0.5rem;
    padding: 1rem;
    text-decoration: none;
}

nav img {
    cursor: pointer;
    height: 1.2rem;
    width: 1.2rem;
    padding: 0 1rem;
}

/* ******************* */
/* hero */
/* ******************* */
#hero .hero-image {
    background: no-repeat url('../images/hero-section/medical-professional.jpg');
    background-position: top;
    background-size: cover;
    height: 50%;
    width: 100%;
    margin: 0 auto;
}

.hero-image h2 {
    align-items: center;
    color: var(--red-text);
    font-size: 3rem;
    justify-content: center;
    padding-top: 20%;
    text-align: center;
}

.hero-image h2 img {
    height: 3rem;
    width: 3rem;
}

.hero-image p {
    color: var(--red-text);
    font-size: 1.7rem;
    letter-spacing: 4;
    font-weight: 600;
    padding-top: 2rem;
    text-align: center;
} 

.hero-articles {
    border-bottom: 1px solid #000;
    display: flex;
    justify-content: space-between;
    margin: 1rem auto;
    padding-bottom: 1rem;
    text-align: left;
    width: 80%;
}

.hero-articles article {
    width: 17rem;
}

.hero-articles article h2 {
    font-weight: 600;
    margin: 1rem 0;
}

.hero-articles article p {
    font-size: 0.9rem;
    line-height: 1.4;
    letter-spacing: 0.01rem;
}

/* *********************** */
/* message */
/* *********************** */
.message {
    border-bottom: 1px solid #000;
    margin: 0 auto;
    text-align: center;
    width: 80%;
}

.message h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 2rem auto;
    width: 80%;
}

.message p {
    color: var(--gray-text);
    font-size: 0.8rem;
    line-height: 1.7;
    margin: 1rem 0;
}

.figure-container {
    display: flex;
    justify-content: space-between;
}

.figure-container figure img {
    padding: 2rem 0;
    width: 15rem;
    height: 12rem;
}

.figure-container figure figcaption {
    color: var(--gray-text);
    margin-top: -1rem;
}

.message details {
    color: var(--red-text);
    cursor: pointer;
    margin: 3rem 0;
}

.message details summary {
    padding: 1rem;
}
/* ***************************** */
/* activities section */
/* ***************************** */
#alt-options-topics {
    border-bottom: 1px solid #000;
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
    margin: 0 auto;
    width: 80%;
}

/* bootstrap carousel */
.carousel-container {
    height: 25rem;
    margin-top: 5rem;
    width: 25rem;
}

.carousel-item img {
    border-radius: 5px;
    height: 20rem;
    width: 20rem;
}
/* carousel images container */
.carousel-images-container {
    display: flex;
    width: 10rem;
}
.carousel-images-container img {
    border-radius: 5px;
    margin: 1rem 0.53rem;
    height: 2.75rem;
    width: 2.75rem;
}

.carousel-images-container img:first-child {
    margin-left: 0;
}

/* activities */
.activities-container {
    margin-top: 5rem;
    width: 40%;
}

.activities-container h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.activities-container p {
    color: var(--gray-text);
    font-size: 0.8rem;
    line-height: 1.7;
    margin: 1rem 0;
}

.activities-container ul {
    list-style-type: disc;
}

.activities-container ul li {
    margin: 1.5rem 0 1rem 1rem;
}

.activities-container details {
    margin-top: 2.5rem;
    color: var(--gray-text);
}

.activities-container details p {
    color: var(--red-text);
}

/* activities modal */
#alt-options-topics dialog img {
    height: 25rem;
}

#alt-options-topics dialog button {
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 1rem auto;
    padding: 0.5rem 1rem;
}

.modal-content {
    width: 33.5rem;
}
